@model IEnumerable<Dashboard.Types.Summary>

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div>
        @{
            foreach (var user in Model)
            {
                <div>
                    <div class="margin-left-0">
                        <span><b>Client</b></span><br />
                        <span>Username: @user.Customer.Username</span><br />
                        <span>Name: @user.Customer.Name</span><br />
                        <span>Registered on: @user.Customer.Date</span><br />
                    </div>
                    <br />
                    <div class="margin-left-30">
                        <span><b>Orders</b></span><br />
                        @foreach (var order in user.Orders)
                        {
                            <span>Item: @order.Item</span><br />
                            <span>Quantity: @order.Quantity</span><br />
                            <span>Purchased on: @order.Date</span><br />
                            <br />
                        }
                    </div>
                    @if (user.Claims.Count > 0)
                    {
                        <div class="margin-left-60">
                            <span><b>Claims</b></span><br />
                            @foreach (var claim in user.Claims)
                            {
                                <span>Item: @claim.Item</span><br />
                                <span>Summary: @claim.Summary</span><br />
                                <span>Claim date: @claim.Date</span><br />
                                <br />
                            }
                        </div>
                    }
                </div>
            }
        }
    </div>
